@mixin fontface($fontfamily,$fontsize,$color,$fontweight) 
{
    font-family: $fontfamily;
    font-size: $fontsize;
    color: $color;
    font-weight: $fontweight;
}
@mixin DrawCircle($width,$color) {
    width: $width;
    height: $width;
    background: $color;
    text-align: center;
    -moz-border-radius: $width;
    -webkit-border-radius: $width;
    border-radius:$width;
}
@mixin CenterlizeBlock($height) {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: $height;
}
@mixin StyleButton{
    cursor: pointer;
    text-align: center;
    @include fontface($montserrat-bold,14px,#999999,normal); 
    span{
        padding: 8px 40px;
        border:3px solid $button-boder-clr;
        border-radius: 43px;
    }
}
@mixin ReponsiveCaroulBut($pop) {
    #{$pop}: 57%;
    @media  (max-width: 1600px) {
        #{$pop}: 60%;
    }
    @media  (max-width: 1024px) {
        #{$pop}: 62%;
    }
    @media  (max-width: 875px) {
        #{$pop}: 65%;
    }
    @media  (max-width: 710px) {
        #{$pop}: 72%;
    }
    @media  (max-width: 479px) {
        #{$pop}: 80%;
    }
    @media (min-width: 420px)and(max-width: 479px) {
        top: 695px;
    }
    @media  (max-width: 419px) {
        top: 655px;
    }
    @media  (max-width: 360px) {
        #{$pop}:85% ;
    }
    
}
@mixin  Clientcomment($color) {
    padding: 30px 0px;
    img{
        width:72px;
        height: 73px;
        float: left;
        margin-right: 30px;
    }
    .Gestcommentt{
        margin-top: 20px;
        position: relative;
        &::before{
            content: "";
            position: absolute;
            width: 0;
            height: 0;
            top: -9px;
            left: 20px;
            border-left: 5px solid transparent;
            border-right: 5px solid transparent;
            border-bottom: 10px solid $color;
        }
        padding: 10px 15px;
        border-radius: 5px;
        background-color: $color;
        @include fontface($Lato-reg,14px,$comment-color,normal);
    }

}