@import 'fonts';
@import 'mixin';
$main-dark:#36392e;
$buton-color:#999999;
$button-boder-clr:#dcdcdc;
////////////////////////header=====================================
header{
    z-index: 2;
    width: 100%;
    position: fixed;
    height: 114px;
    line-height: 114px;
    background-color: #ffffff;
}
.logo{
    span{
        color: #46607f;
    }
    float: left;
    @include fontface($montserrat-bold,36px,#238ee1,normal);
}
.DeskTopNav{
    display: flex;
    flex-direction: row;
    flex-flow: wrap;
    float: right;
    color: $main-dark;
}
.ion-bag{
    margin-right: 30px;
    font-size: 24px;
}
.ion-ios-search{
    font-size: 24px;
}
.DeskTopNav{
    ul{ 
        margin: 0;
        a{
            text-decoration: none;
            @include fontface($montserrat-bold,14px,$main-dark,normal); 
        }
        list-style-type: none;
        li{
            margin-right: 30px;
            display: inline-block;
        }
    }
}
.headerDot{
    margin-right: 30px;
    font-size: 30px;
    line-height: 100px;
    color: #50bfcf;
}
////////////////end Header
//////////////// /////////////////////////hero////////////////////
.hero{
    &::before{
        position: absolute;
        left: 0;top: 0;
        width: 100%;
        height: 100%;
        content: "";
        background-color: rgba($color: #114452, $alpha: 0.3);
    }
    position: relative;
    text-align: center;
    height: 900px;
    background-image: url('../images/headerbrg.jpg');
    background-repeat:no-repeat;
    background-size:cover;
    background-position:center;
}
.infomation{
    position:absolute;
    z-index: 1;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%); 
}
.FindNeasest{
    @include fontface($montserrat-bold,48px,#ffffff,normal); 
}
.FindDearcpt{
    margin-bottom: 50px;
    @include fontface($Lato-reg,18px,#ffffff,normal); 
}
.searchBar{
    cursor: pointer;
    display: inline-flex;
    padding-left:40px;
    border-radius: 35px;
    width: 770px;
    height: 70px;
    line-height: 70px;
    justify-content: space-between;
    padding: 5px 5px 5px 40px;
    input{
        line-height: 60px;
        &::placeholder{
            @include fontface($Lato-reg,18px,#e4e6e7,normal); 
        }
        width: 70%;
        height:100%;
        border: none;
        background-color:transparent;
    }
    background-color: rgba($color: #000000, $alpha: 0.5);
    button{
        line-height: 60px;
        border: none;
        height: 100%;
        border-radius: 30px;
        width: 180px;
        background-color: #52c315;
        @include fontface($montserrat-600,18px,#ffffff,normal); 
    }
}
.blueBrg{
    position: relative;
    background-image: url('../images/seconBrg.jpg');
    &::before{
        content: "";
        background-color: rgba($color: #1885d9, $alpha:0.95);
        position: absolute;
        width: 100%;
        height: 100%;
    }
    height: 200px;
    width: 100%;;
}
.centralizeCTF{
    display: flex;
    justify-content: center;
}
.blueBrgInfo{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.contactInfo{
    .ion-ios-telephone-outline,
    .ion-ios-alarm-outline,
    .ion-ios-email-outline
    {
        color: #ffffff;
        font-size: 72px;
        float: left;
        margin-right: 25px;
        line-height: 200px;
    }
    p{
        margin-bottom: 5px;
        @include fontface($montserrat-bold,14px,#ffffff,normal); 
    }
    span{
        @include fontface($Lato-reg,14px,#ffffff,normal); 
    }
}

//////////////// /////////////////////////  SERVICE////////////////////
.sectionTitle{
    text-align: center;
    margin-top: 100px;
    span{
        @include fontface($Lato-light,18px,#36392e,normal); 
    }
    p{
        margin-bottom: 40px;
        @include fontface($montserrat-bold,24px,#36392e,normal); 
    }
}
.ImgOfservice{
    height:200px;
}
.SVnoOne{
    background-image: url('../images/SVno1.jpg'); 
}
.SVno2{
    background-image: url('../images/SVno2.jpg');
}
.SVno3{
    background-image: url('../images/SVno3.jpg');
}
.SVno4{
    background-image: url('../images/SVno4.jpg');
}
.SVtype{
    margin: 30px 0px 25px 0px;
    @include fontface($montserrat-bold,16px,$main-dark,normal); 
}
.SVdecript{
    @include fontface($Lato-reg,14px,#999999,normal); 
}
.getSchedule{
    margin: 45px 0px 60px 0px; 
    text-align: center;
    @include fontface($montserrat-bold,14px,#999999,normal); 
    span{
        padding: 10px 20px;
        border:3px solid $button-boder-clr;
        border-radius: 43px;
    }
}

///////////////////////////////////////////// FEATURE pROJECT///////////@include
.featureprojectTit{
    span,p{
        color: #ffffff;
    }  
}
.featureproject{
    background-image: url('../images/FeatureBrg.jpg');
    background-repeat:no-repeat;
    background-size:cover;
    background-position:center;
    height:760px;
    padding-top: 50px;
    position: relative;
    &::before{  
        position: absolute;
        top: 25px;
        left: 50%;
        transform: translate(-50%, -50%);
        content: "";
        width: 0;
        height: 0;
        border-left: 1010px solid transparent;
        border-right: 1010px solid transparent;
        border-top: 50px solid #ffffff;
    }
    &::after{  
        position: absolute;
        bottom: -26px;
        left: 50%;
        transform: translate(-50%, -50%);
        content: "";
        width: 0;
        height: 0;
        border-left: 1010px solid transparent;
        border-right: 1010px solid transparent;
        border-bottom: 50px solid #ffffff;
    }
    .tagProject{   
        margin-bottom: 50px;
        text-transform: uppercase;
        text-align: center; 
        span{
            height: 30px;
            line-height: 27px;
            cursor: pointer;
            border-radius: 30px;
            &:hover{
                padding: 0px 15px;
                border: 2px solid #5d636a;
            }
            margin-right:20px;
            display: inline-block;
            @include fontface($montserrat-regular,12px,#ffffff,normal);
        }
    }
    .ProjectImg{
        display: flex;

    }

}
/////////////////////////Conment/////////////////////////
.qouteCover{
    margin-top: 50px;
    text-align: center;
}
.ion-quote{
    display: inline-block;
    padding: 15px 20px;
    border-radius: 59px;
    border: 3px solid $button-boder-clr;
}
.Comment{
    margin-top: 20px;
}
.qouteDescript{
    margin: 40px 0px 30px 0px;
    display: flex;
    justify-content: center;
    font-style: italic;
    @include fontface($Lato-reg,18px,$buton-color,normal);
}
.AccountCmt{
    display: inline-block;
    img{
        float: left;
    }
    .AcountInfo{
        margin: 15px 15px 30px 15px;
        float: left;
        .Cmtname{
            @include fontface($montserrat-bold,16px,$main-dark,normal);
        }
        .CmtAdd{
            text-align: left;
            @include fontface($montserrat-regular,14px,$buton-color,normal);
        }
    }

}
.Onmedia{
    margin-bottom: 100px;
    height: 117px;
    border-top: 1px solid $button-boder-clr;
    border-bottom: 1px solid $button-boder-clr;
    .mediatool{
        margin-top: 40px;
        display: flex;
        justify-content: center;
    }
}
////////////////////////////////// cleaningteamBrg
.cleaningTeamBrg{
    position: relative;
    background-image: url('../images/CleanTeamBrg.jpg');
    height: 450px;
    background-size: cover;
    &::before{
        content: "";
        background-color: rgba(24, 133, 217, 0.8);
        position: absolute;
        width: 100%;
        height: 100%;
    }
    img{
        position: absolute;
        top: -86px;
        left: 70px;
    }
}

.advertise{
    @include CenterlizeBlock(450px);
}
.need{
    line-height: 30px;
    @include fontface($MyriadPro-reg,30px,#ffffff,normal);
}
.forUhome{
    line-height: 34px;
    @include fontface($MyriadPro-reg,34px,#ffffff,900);
}
.heretobe{
    margin: 10px 0px;
    @include fontface($MyriadPro-reg,18px,#ffffff,300);
}
.telephone{
    @include fontface($Lato-reg,42px,#ffffff,bold);
}

///tag Expert
.OuteamBrg{
    padding-top:100px;
    background-image: url('../images/OurTeamBrg.jpg');
    background-size: cover;
    background-position: center;
    height: 960px;
    position: relative;
}
.ourTeam{
    margin-top:0;
}
.ExpertTag{
    background-color: #ffffff;
    padding-bottom: 30px;
    border-radius: 5px;
    position: relative;  
    &:hover{
        .ExpertTagHover{
            display: block;
        }
    }
}
.ExpertTagHover{
    display: none;
    line-height: 200px;
    text-align: center;
    border-radius: 5px 5px 0px 0px;
    position: absolute;
    width: 100%;
    height: 200px;
    top: 0;
    background-color: rgba($color: #212121, $alpha: 0.3);
    span{
        padding: 0px 12px;
        font-size: 40px;
        background-color: rgba($color: #212121, $alpha: 0.3);
        color: #ffffff;
        border-radius: 51px;
    }
}
.NameExpert{
    margin-top:20px;
    text-align: center;
    @include fontface($montserrat-bold,16px,$main-dark,normal);
}
.CExpert{
    text-align: center;
    @include fontface($Lato-reg,14px,$buton-color,normal);
}
.socialNet{
    display: flex;
    justify-content: center;
    span{
        margin-right: 10px;
        color: $main-dark;
        cursor: pointer;
    }
}
.TeamHR{
    border: 1px solid #238ee1;
    width: 30px;
}
.AmmountBrg{
    background-color: rgba($color: #ffffff, $alpha: 0.6);
    height: 250px;
    position: absolute;
    width: 100%;
    bottom: 0;
}
.webAmount{
    text-align: center;
    @include CenterlizeBlock(250px);
    span{
        @include fontface($montserrat-bold,32px,$main-dark,normal);
    }
    p{
        @include fontface($montserrat-regular,14px,$main-dark,normal);
    }
}
